<div class="list-group">
  <%= link_to 'All Products', products_path, class: "list-group-item" %>
  <%= link_to 'All Categories', categories_path, class: "list-group-item" %>
    <div class="info_box"></div>
</div>
