<h2>Reviews</h2>
<%= link_to 'Unapproved', '', class: 'show_unapproved', remote: true, style: 'color:blue;' %>
<%= link_to 'Approved', '', class: 'show_approved', remote: true, style: 'color:gray;' %>
<div class="reviews">
  <%= render partial: 'reviews', locals: { reviews: @reviews } %>
</div>
